* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-green: #159957;
  --light-green: #31e38a;
  --main-blue: #155799;
  --light-blue: #318ae3;
  --grey: #7e7e7e;
  --dark: #333333;
  --white: #ffffff;
}

body {
  font-family: -apple-system, "Open Sans", BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.App {
  height: 100%;
  width: 100%;
}
