body {
  line-height: 1.4;
  color: var(--dark);
  background: var(--light-green); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--light-blue),
    var(--light-green)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--light-blue),
    var(--light-green)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  max-width: 60%;
  padding: 0 10px;
}

.section-head {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--dark);
  text-align: center;
}

.accordion {
  color: var(--dark);
  list-style: none;
  overflow: hidden;
  /* margin-bottom: 40px; */
  /* position: absolute; */
  /* width: 50%; */
  /* top: 50%; */
  /* left: 50%; */
  /* margin-right: -50%; */
  /* transform: translate(-50%, -50%); */
  /* width: 60%; */
  border-radius: 3.5px;
}

.accordion_item {
  border-top: 1px solid var(--light-grey);
}

.button {
  font-size: 1rem;
  background-color: var(--light-grey);
  color: var(--dark);
  text-align: left;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  cursor: pointer;
  border: none;
  font-size: 1.2rem;
}

.control {
  font-size: 1.5rem;
}

.answer {
  background-color: var(--lighter-grey);
  padding: 20px;
  font-size: 1.2rem;
  text-align: left;
}

/* Activate toggle */
.accordion_item.active .button {
  background-color: var(--light-grey);
}

.answer_wrapper {
  height: 0;
  overflow: hidden;
  transition: height ease 0.3s;
}
