* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.4;
  background: #fff;
  color: #1e212d;
}

.container {
  max-width: 600px;
  margin: 6rem auto 4rem;
  padding: 0 10px;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  color: #1e212d;
}

.accordion {
  list-style: none;
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.accordion_item {
  border-top: 1px solid #eabf9f;
  font-family: "Open Sans", sans-serif;
}

.button {
  font-size: 16px;
  background-color: #eabf9f;
  color: #1e212d;
  text-align: left;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 18px 8px;
  cursor: pointer;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
}

.control {
  font-size: 20px;
}

.answer {
  background-color: #faf3e0;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
}

/* activate toggle */
.accordion_item.active .button {
  background-color: #b68973;
}
.answer_wrapper {
  height: 0;
  overflow: hidden;
  transition: height ease 0.3s;
}
