.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
}

/* Doesn't work */
.btn-primary {
  text-transform: uppercase;
  background-color: var(--light-blue);
  color: var(--cultured);
}

.btn-primary:hover {
  background-color: var(--fair-blue);
}

.card-styling {
  /* max-height: 300px; */
  min-height: 150px;
  max-width: 50%;
  min-width: 150px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
}
