.cat-container {
  padding: 40px 0 0;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cat-list {
  display: flex;
  flex-direction: row;
  /* padding: 30px 0; */
  align-items: center;
  gap: 20px;
  margin: 0;
  flex-wrap: wrap;
}

.btn-circle {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: var(--dark);
  color: var(--primary);
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
  font-size: 0.8rem;
}

.btn-circle:link,
.btn-circle:visited {
  text-transform: lowercase;
  text-decoration: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn-circle:hover {
  text-decoration: underline;
  color: var(--primary);
}

.btn-circle:active,
.btn-circle:focus {
  outline: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
