span {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

#aboutus {
  background: var(--fair-green); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--fair-blue),
    var(--fair-green)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--fair-blue),
    var(--fair-green)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.section-head {
  margin-bottom: 60px;
}

.section-head h4 {
  position: relative;
  padding: 0;
  color: var(--main-blue);
  line-height: 1;
  letter-spacing: 0.3px;
  font-weight: 700;
  text-align: center;
  text-transform: none;
  margin-bottom: 30px;
}

.section-head h4::before {
  background: var(--main-blue);
  width: 60px;
  height: 3px;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.section-head h4 span {
  font-weight: 700;
  padding-bottom: 5px;
  font-size: 2rem;
}

.section-head p {
  color: var(--dark);
  font-size: 1.2rem;
  line-height: 28px;
  text-align: center;
}

.item {
  background: var(--white);
  text-align: center;
  padding: 30px 25px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item h6 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--dark);
}

.item p {
  line-height: 1.5rem;
  color: var(--grey);
}

.fa {
  color: var(--main-blue);
}

.item .icon {
  font-size: 2rem;
  margin-bottom: 25px;
  width: 90px;
  height: 90px;
  line-height: 6rem;
  border-radius: 50px;
}
