ul {
  list-style: none;
  padding-left: 0;
  margin-left: -30px;
}

footer {
  color: var(--dark);
  line-height: 1.2rem;
}

.ft-title {
  color: var(--dark);
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

/* Sticks footer to bottom */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  flex: 1;
}

/* Footer main */
.ft-main {
  background: var(--light-grey);
  padding: 1rem 1.5rem;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 29.8125rem /* 477px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 77.5rem /* 1240px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}

.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}

.ft-main-item a {
  text-decoration: none;
  color: var(--dark);
}

.ft-main-item a:hover {
  text-decoration: underline;
  color: var(--dark);
}

/* Footer main | Newsletter form */
form {
  display: flex;
  flex-wrap: wrap;
}

input[type="email"] {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}

input[type="submit"] {
  background: var(--dark);
  color: var(--light-grey);
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}

/* Footer social */
.ft-social {
  background: var(--light-grey);
  padding: 0 1.875rem 1.25rem;
}

.ft-social-list {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.2rem;
}

.ft-social-list li a {
  color: var(--dark);
}

a:hover i {
  transform: scale(1.2);
}

/* Footer legal */
.ft-legal {
  padding: 0.9rem 1.8rem;
  background: var(--dark);
  color: var(--light-grey);
}

.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}

/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
  flex: 1;
}

.ft-legal-list li a {
  text-decoration: none;
  color: var(--light-grey);
}

.ft-legal-list li a:hover {
  text-decoration: underline;
}
