.car-container {
  display: flex;
  justify-content: center;
  background: var(--light-green); /*fallback for old browsers*/
  background: -webkit-linear-gradient(
    to right,
    var(--light-blue),
    var(--light-green)
  ); /*Chrome 10-25, Safari 5.1-6*/
  background: linear-gradient(
    to right,
    var(--light-blue),
    var(--light-green)
  ); /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
}

.carousel {
  /* background: red; */
  width: 100%;
  justify-content: center;
}

.inner-style {
}

.carousel-img {
  width: auto;
  height: 400px;
  display: block;
  overflow: hidden;
  border-top-left-radius: 3.5px;
  border-top-right-radius: 3.5px;
}

.card-style-car {
  max-height: 450px;
  min-height: 150px;
  max-width: 300px;
  min-width: 150px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
}

.card-style-car:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.carouselBtn {
  background-color: black;
}

.title-car {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}

.card-title {
  color: var(--dark);
}

.card-title:hover {
  text-decoration: underline;
  color: var(--grey);
}
