/* .intro p {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  width: 40%;
  text-align: left;
} */

/* .banner{
  position: fixed;
} */

.banner-hero {
  background: #159957; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #155799,
    #159957
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #155799,
    #159957
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.intro-text {
  width: 50%;
  padding: 20px 30px 10px;
}

.intro-text p {
  margin-bottom: 0;
  color: var(--black);
}

.input-group {
  padding-left: 30px;
}
