.register{
    width: 50%;
     height: 65%; 
    background: rgba(29, 27, 27, 0.8);
    position: absolute;
   top: 10%;
   left: 25%;
   

}
form{
    display: block;
    color: aliceblue;
   
}

.par{
    width: 5%;
    border-radius: 50%;
}