:root {
  --primary: #faf3e0;
}

.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  /* font-family: "Nunito", sans-serif; */
  text-transform: lowercase;
  font-weight: 600;
}

.btn:hover {
  padding: 8px 20px;
  transition: all 0.3s ease-out;
  color: var(--primary);
  transition: 250ms;
}

.btn--primary {
  background-color: var(--primary);
}

.btn--outline {
  background-color: transparent;
  color: #1e212d;
  padding: 8px 20px;
  border-radius: 4px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #eabf9f;
  color: #1e212d;
}

.btn-large {
  padding: 12px 26px;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #eabf9f;
  color: #1e212d;
}
